   --extra-index-url https://download.pytorch.org/whl/cpu
   torch
   streamlit
   python-dotenv
   langchain
   langchain-classic
   langchain-community
   langchain-huggingface
   langchain-text-splitters
   sentence-transformers
   faiss-cpu
   huggingface_hub
